version: "3.9"

services:
  auth-api:
    build: .
    container_name: auth-api
    ports:
      - "8001:8001"
    env_file:
      - .env
    depends_on:
      - auth-db
    restart: always

  auth-db:
    image: postgres:15
    container_name: auth-db
    environment:
      POSTGRES_USER: auth
      POSTGRES_PASSWORD: auth
      POSTGRES_DB: auth_db
    ports:
      - "5433:5432"
    restart: always
